<!DOCTYPE html>

<%
String path = request.getContextPath();
String basePath = request.getScheme() + "://" + request.getServerName() + ":" + request.getServerPort() + path + "/";
%>


<html lang="en">
<head>




    <meta charset="UTF-8">
    <title>注册</title>
    <script type="text/javascript" src="register.js"></script>
    <script type="text/javascript" src="/webapp/js/jquery-easyui-1.4.2/jquery.min.js"></script>
    <!--<script type="text/javascript" src="<%=basePath%>/js/jquery-easyui-1.4.2/jquery.easyui.min.js"></script>-->
    <!--<script type="text/javascript" src="<%=basePath%>/js/jquery-easyui-1.4.2/locale/easyui-lang-zh_CN.js"></script>-->
    <!--<script type="text/javascript" src="<%=basePath%>/js/jquery_dialog.js"></script>-->
    <!--<script type="text/javascript" src="<%=basePath%>/js/datepicker.js"></script>-->
    <!--<script type="text/javascript" src="<%=basePath%>/js/jquery.md5.js"></script>-->

    <!--<link rel="stylesheet" type="text/css" href="<%=basePath%>/js/jquery-easyui-1.4.2/themes/default/easyui.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="<%=basePath%>/js/jquery-easyui-1.4.2/themes/icon.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="<%=basePath%>/js/jquery-easyui-1.4.2/themes/default/easyui.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="<%=basePath%>/js/jquery-easyui-1.4.2/themes/icon.css" />-->

</head>
<body>

<form>


</form>


</body>
</html>