<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flyer.mapper.CustomerMapper" >
  <resultMap id="BaseResultMap" type="com.flyer.domain.Customer" >
    <constructor >
      <idArg column="f_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="f_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="f_phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="f_sex" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="f_card_id" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    f_id, f_name, f_phone, f_sex, f_card_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.flyer.domain.CustomerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from f_customer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from f_customer
    where f_id = #{fId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from f_customer
    where f_id = #{fId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.flyer.domain.CustomerExample" >
    delete from f_customer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.flyer.domain.Customer" >
    insert into f_customer (f_id, f_name, f_phone, 
      f_sex, f_card_id)
    values (#{fId,jdbcType=INTEGER}, #{fName,jdbcType=VARCHAR}, #{fPhone,jdbcType=VARCHAR}, 
      #{fSex,jdbcType=VARCHAR}, #{fCardId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.flyer.domain.Customer" >
    insert into f_customer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fId != null" >
        f_id,
      </if>
      <if test="fName != null" >
        f_name,
      </if>
      <if test="fPhone != null" >
        f_phone,
      </if>
      <if test="fSex != null" >
        f_sex,
      </if>
      <if test="fCardId != null" >
        f_card_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fId != null" >
        #{fId,jdbcType=INTEGER},
      </if>
      <if test="fName != null" >
        #{fName,jdbcType=VARCHAR},
      </if>
      <if test="fPhone != null" >
        #{fPhone,jdbcType=VARCHAR},
      </if>
      <if test="fSex != null" >
        #{fSex,jdbcType=VARCHAR},
      </if>
      <if test="fCardId != null" >
        #{fCardId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.flyer.domain.CustomerExample" resultType="java.lang.Integer" >
    select count(*) from f_customer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update f_customer
    <set >
      <if test="record.fId != null" >
        f_id = #{record.fId,jdbcType=INTEGER},
      </if>
      <if test="record.fName != null" >
        f_name = #{record.fName,jdbcType=VARCHAR},
      </if>
      <if test="record.fPhone != null" >
        f_phone = #{record.fPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.fSex != null" >
        f_sex = #{record.fSex,jdbcType=VARCHAR},
      </if>
      <if test="record.fCardId != null" >
        f_card_id = #{record.fCardId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update f_customer
    set f_id = #{record.fId,jdbcType=INTEGER},
      f_name = #{record.fName,jdbcType=VARCHAR},
      f_phone = #{record.fPhone,jdbcType=VARCHAR},
      f_sex = #{record.fSex,jdbcType=VARCHAR},
      f_card_id = #{record.fCardId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.flyer.domain.Customer" >
    update f_customer
    <set >
      <if test="fName != null" >
        f_name = #{fName,jdbcType=VARCHAR},
      </if>
      <if test="fPhone != null" >
        f_phone = #{fPhone,jdbcType=VARCHAR},
      </if>
      <if test="fSex != null" >
        f_sex = #{fSex,jdbcType=VARCHAR},
      </if>
      <if test="fCardId != null" >
        f_card_id = #{fCardId,jdbcType=VARCHAR},
      </if>
    </set>
    where f_id = #{fId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flyer.domain.Customer" >
    update f_customer
    set f_name = #{fName,jdbcType=VARCHAR},
      f_phone = #{fPhone,jdbcType=VARCHAR},
      f_sex = #{fSex,jdbcType=VARCHAR},
      f_card_id = #{fCardId,jdbcType=VARCHAR}
    where f_id = #{fId,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.flyer.domain.CustomerExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from f_customer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>